ul {
  list-style-type: none;
  padding-left: 0;
}

.subheader {
  border-bottom: 1px dashed black;
}

.report-footer {
  border-top: 1px dashed black;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}