ul {
  list-style-type: none;
  padding-left: 0;
}

.subheader {
  border-bottom: 1px dashed black;
}

.subheader * {
  display: inline-block;
}

.subheader h3 {
  float: inline-end;
  font-style: italic;
}

.subheader p a {
  color: blue;
  font-weight: bold;
  padding-left: 20px;
}

.report-footer {
  border-top: 1px dashed black;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}