table {
  margin-top: 20px;
  width: 40%;
  border-spacing: 1px 5px;
  border-collapse: separate;
}

thead td {
  font-weight: bold;
}

tbody td {
  padding: 10px 10px;
  background-color: beige;
  border: 1px solid black;
}

tbody td:first-child {
  width: 60%;
}

td {
  text-align: right;
}

.region_head, .region_name {
  text-align: left;
}

a:hover {
  color: #2C520F;
}
