#trailhead_name {
  font-style: italic;
}

#trailhead_stats {
  padding-left: 20px;
}

span {
  font-style: normal;
}

.approved_status {
  color: #0A8954;
}

.disapproved_status {
  color: #EB350E;
}