{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/regions.css' %}">

{% load trail_extras %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Regions</title>
  </head>
  <body>
    {% include "./header.html" %}
    {% if regions_table %}
      <table>
        <thead>
          <td class="region_head">Region</td>
          <td class="trail_count_head">Trails</td>
          <td class="trailhead_count_head">Trailheads</td>
          <td class="report_count_head">Reports</td>
        </thead>
        <tbody>
        {% for region in regions_table %}
          <tr>
            <td class="region_name"><a href="{% url 'trails' region.id %}">{{ region.get_name_display }}</a></td>

            {% if region.trails > 0 %}
              <td class="trail_count"><p>{{ region.trails }}</p></td>
            {% else %}
              <td class="trail_count"><p>0</p></td>
            {% endif %}

            {% if region.trailheads > 0 %}
              <td class="trailhead_count"><p>{{ region.trailheads }}</p></td>
            {% else %}
              <td class="trailhead_count"><p>0</p></td>
            {% endif %}


            {% if region.reports > 0 %}
              <td class="report_count"><p>{{ region.reports }}</p></td>
            {% else %}
              <td class="report_count"><p>0</p></td>
            {% endif %}
          </tr>
        {% endfor %}
        <tbody>
      </table>
    {% else %}
      <p>Regions not found</p>
    {% endif %}
    {% url 'index' as link %}
    {% include "./button.html" with link=link %}
  </body>
</html>
