{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/regions.css' %}">

{% load trail_extras %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Regions</title>
  </head>
  <body>
    {% if regions_list %}
      {% include "./header.html" %}
      <ul>
        {% for abbr, region in regions_list %}
          <li><a href="{% url 'trails' abbr %}">{{ region }} || {{ region_trail_count|lookup:forloop.counter0 }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Regions not found</p>
    {% endif %}
  </body>
</html>
