{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/report.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Report</title>
  </head>
  <body>
    {% include "./header.html" %}
    {% if report %}
    <div class="subheader">
      <h2>
        <a href="{% url 'trails' report.trail.region %}">{{ report.region.get_name_display }}</a> | 
        <a href="{% url 'trailheads' region=report.trail.region trail=report.trail.id %}">{{ report.trail.name }}</a> |
        <a href="{% url 'reports_trailhead' region=report.trail.region trail=report.trail.id trailhead=report.trailhead.id %}">{{ report.trailhead.name }}</a>
      </h2>
    </div>
    {% endif %}
    <div id="report-table">
      <table>
        <tbody>
          <tr><th colspan="3">Report</th></tr>
          <tr>
            <td>Time</td>
            <td>Date: {{ report.date_hiked }}</td>
            <td>Day: {{ report.get_day_hiked_display }}</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>Started hike: {{ report.trail_begin }}</td>
            <td>Ended hike: {{ report.trail_end }}</td>
          </tr>
          <tr><th colspan="3">Trailhead Features</th></tr>
          <tr>
            <td>Access</td>
            <td colspan="2">
              {% if report.access %}{{ report.get_access_display }}
              {% else %}No Data{% endif %}
            </td>
          </tr>
          <tr>
            <td>Parking</td>
            <td colspan="2">
              {% if report.pkg_location %}{{ report.get_pkg_location_display }}
              {% else %}No Data{% endif %}
            </td>
          </tr>
          <tr>
            <td>Bathroom</td>
            <td colspan="2">
              {% if report.bathroom_type %}{{ report.get_bathroom_type_display }} - {{ report.get_bathroom_status_display }}
              {% else %}No Data{% endif %}
            </td>
          </tr>
          <tr><th colspan="3">Trail Conditions</th></tr>
          <tr>
            <td>Parking</td>
            <td>Parking full on arrival: {{ report.pkg_estimate_begin }}%</td>
            <td>Parking full on departure: {{ report.pkg_estimate_end }}%</td>
          </tr>
          <tr>
            <td>People</td>
            <td>Most cars seen at trailhead: {{ report.cars_seen }}</td>
            <td>Estimated people seen on trail: {{ report.people_seen }}</td>
          </tr>
          <tr>
            <td>Animals</td>
            <td>Dogs Seen: {% if dogs_seen %} Yes {% else %} No {% endif %}</td>
            <td>Horses Seen: {% if horses_seen %} Yes {% else %} No {% endif %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
