{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/feeds.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/forms.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reports</title>
  </head>
  <body>
    {% include "./header.html" %}
    <div class="subheader">
    {% if trail %}
      <h2>
        <a href="{% url 'trails' trail.region %}">{{ trail.get_region_display }}</a> | 
        {{ trail.name }}
      </h2>
    {% elif trailhead %}
      <h2>
        <a href="{% url 'trails' trailhead.trail.region %}">{{ trailhead.trail.get_region_display }}</a> | 
        <a href="{% url 'trailheads' region=trailhead.trail.region trail=trailhead.trail.id %}">{{ trailhead.trail.name }}</a> | 
        {{ trailhead.name }}
      </h2>
    {% else %}
      {% if not reports_list %}
      <h2>
        <a href="{% url 'trails' region %}">{{ trail_day_empty.get_region_display }}</a> | 
        <a href="{% url 'trailheads' region=region trail=trail_day_empty.id %}">{{ trail_day_empty.name }}</a> | 
        {{ day }}
      </h2>
      {% else %}
      <h2>
        <a href="{% url 'trails' reports_list.0.trail.region %}">{{ reports_list.0.trail.get_region_display }}</a> | 
        <a href="{% url 'trailheads' region=reports_list.0.trail.region trail=reports_list.0.trail.id %}">{{ reports_list.0.trail.name }}</a> | 
        {{ reports_list.0.get_day_hiked_display }}
      </h2>
      {% endif %}
    {% endif %}
    </div>

    <div class="report">
    {% if reports_list %}
      <div class="trail-table">
        <h3>Reports ({{ reports_list.count }})</h3>
        <table>
          <thead>
            <tr>
              {% if not trailhead %}<td>Trailhead</td>{% endif %}
              <td>Date Hiked</td>
              <td>Day Hiked</td>
              <td>Details</td>
            </tr>
          </thead>
          <tbody>
          {% for report in reports_list %}
            <tr>
              {% if not trailhead %}
              <td>
                <a href="{% url 'reports_trailhead' region=report.trail.region trail=report.trail.id trailhead=report.trailhead.id %}">{{ report.trailhead.name }}</a>
              </td>
              {% endif %}

              <td>{{ report.date_hiked }}</td> 
              <td>{{ report.get_day_hiked_display }}</td>

              {% if trail %}
              <td>
                <a href="{% url 'report' region=region trail=trail.id trailhead=report.trailhead.id report=report.id %}">More</a>
              </td>
              {% elif trailhead %}
              <td>
                <a href="{% url 'report' region=region trail=trailhead.trail.id trailhead=trailhead.id report=report.id %}">More</a>
              </td>
              {% else %}
              <td>
                <a href="{% url 'report' region=report.trail.region trail=report.trail.id trailhead=report.trailhead.id report=report.id %}">More</a>
              </td>
              {% endif %}
            </div>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>No reports found</p>
    {% endif %}
    {% if trail %}
    <div class="report-footer">
      <p>To add a report, select a <a href="{% url 'trailheads' region=trail.region trail=trail.id %}">trailhead</a></p>
    </div>
    {% endif %}
    </div>

    {% if trailhead %}
    <div class="form-box">
      <h4>Add Report</h4>
      <form action="{% url 'reports_trailhead' region trailhead.trail.id trailhead.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="field">
            {% if field.field.required %}
              <p class="label"><span>*</span> {{ field.label_tag }}</p>
            {% else %}
              {{ field.label_tag }}
            {% endif %}

            <div>{{ field }}</div>
            {% if field.help_text %}
              <p>{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <input class="button" type="submit" value="Add">
      </form>
    </div>
    {% endif %}
  </body>
</html>
