{% load static %}
{% load trail_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/feeds.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/forms.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reports</title>
  </head>
  <body>
    {% include "./header.html" %}
    <div class="subheader">
      <h2>
        <a href="{% url 'trails' region.region_slug %}">{{ region.get_name_display }}</a> | 
        <a href="{% url 'trailheads' region_slug=region.region_slug trail_slug=trail.trail_slug %}">{{ trail.name }}</a> | 
        {{ trailhead.name }}
      </h2>
      <h3>{{ trail.length_json|get_item:trailhead.name }} miles / {{ trail.elevation_gain_json|get_item:trailhead.name }} ft.</h3>
    {% comment %} {% if day %}
      {% if advice %}
      <h2>
        <a href="{% url 'trails' reports_list.0.trail.region %}">{{ reports_list.0.region.get_name_display }}</a> |
         <a href="{% url 'trailheads' region=reports_list.0.trail.region trail=reports_list.0.trail.id %}">{{ reports_list.0.trail.name }}</a> | 
        {{ reports_list.0.get_day_hiked_display }}
      </h2>
      {% else %}
      <h2>
        <a href="{% url 'trails' region %}">{{ trail_day_empty.region.get_name_display }}</a> | 
        <a href="{% url 'trailheads' region=region trail=trail_day_empty.id %}">{{ trail_day_empty.name }}</a> | 
        {{ day }}
      </h2>
      {% endif %}
    {% elif period %}
      {% if advice %}
      <h2>
        <a href="{% url 'trails' reports_list.0.trail.region %}">{{ reports_list.0.region.get_name_display }}</a> | 
        <a href="{% url 'trailheads' region=reports_list.0.trail.region trail=reports_list.0.trail.id %}">{{ reports_list.0.trail.name }}</a> | 
        {{ period }}
      </h2>
      {% else %}
      <h2>
        <a href="{% url 'trails' region %}">{{ trail_time_empty.region.get_name_display }}</a> | 
        <a href="{% url 'trailheads' region=region trail=trail_time_empty.id %}">{{ trail_time_empty.name }}</a> | 
        {{ period }}
      </h2>
      {% endif %}
    {% endif %} {% endcomment %}
    </div>

    <div class="report">
    {% if reports_list %}
      {% if reports_total %}
      <div id="advice" class="{{ caution }}">
        <p>{{ reports_list_total }} out of {{ reports_total }} total submitted</p>
        <p>{{ advice }}</p>
      </div>
      {% endif %}
      <div class="trail-table">
        <h3>Reports ({{ reports_list.count }})</h3>
        <table>
          <thead>
            <tr>
              {% if not trailhead %}<td>Trailhead</td>{% endif %}
              <td>Date Hiked</td>
              <td>Day Hiked</td>
              {% if period %}<td>Time Hiked</td>{% endif %}
              <td>Details</td>
            </tr>
          </thead>
          <tbody>
          {% for report in reports_list %}
            <tr>
              {% if not trailhead %}
              <td>
                <a href="{% url 'reports_trailhead' region=report.trail.region trail=report.trail.id trailhead=report.trailhead.id %}">{{ report.trailhead.name }}</a>
              </td>
              {% endif %}

              {% if date == report.date_hiked %}
                <td>Today</td>
              {% else %}
                <td>{{ report.date_hiked }}</td>
              {% endif %}
              <td>{{ report.get_day_hiked_display }}</td>

              {% if period %}
                <td>{{ report.trail_begin }} - {{ report.trail_end }}</td> 
              {% endif %}

              {% if trail %}
              <td>
                <a href="{% url 'report' region_slug=region.region_slug trail_slug=trail.trail_slug trailhead_slug=report.trailhead.trailhead_slug report=report.id %}">More</a>
              </td>
              {% elif trailhead %}
              <td>
                <a href="{% url 'report' region_slug=region.region_slug trail_slug=trail.trail_slug trailhead_slug=trailhead.trailhead_slug report=report.id %}">More</a>
              </td>
              {% else %}
              <td>
                <a href="{% url 'report' region_slug=region.region_slug trail_slug=trail.trail_slug trailhead_slug=report.trailhead.trailhead_slug report=report.id %}">More</a>
              </td>
              {% endif %}
            </div>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>No reports found</p>
      {% if reports_total %}
        <p><span>Note</span> - There have been <span>{{ reports_total }}</span> submitted for this trail. If there have not been many reports, there may not be enough data to determine popularity.</p>
      {% endif %}
    {% endif %}
    </div>

    {% if trailhead %}
    <div class="form-box">
      <h4>Add Report</h4>
      <form action="{% url 'reports_trail_trailhead' region.region_slug trail.trail_slug trailhead.trailhead_slug %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="field">
            {% if field.field.required %}
              <p class="label"><span>*</span> {{ field.label_tag }}</p>
            {% else %}
              {{ field.label_tag }}
            {% endif %}

            <div>{{ field }}</div>
            {% if field.help_text %}
              <p>{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <input class="button" type="submit" value="Add">
      </form>
    </div>
    {% endif %}
  </body>
</html>
