{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/feeds.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/forms.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trails</title>
  </head>
  <body>
    {% include "./header.html" %}
    {% if trails_list %}
    <div class="subheader">
      <h2>{{ trails_list.0.get_region_display }} Trails</h2>
    </div>
    <div class="trail-table">
      <table>
        <thead>
          <tr>
            <td>Trail</td>
            <td>Updated</td>
            <td>Reports</td>
          </tr>
        </thead>
        <tbody>
          {% for trail in trails_list %}
            <tr>
              <td>
                <a href="{% url 'trailheads' region=trail.region trail=trail.id %}">{{ trail.name }}</a>
              </td>
              <td>{{ trail.modified|date:"m/d/y" }}</td>
              <td>
                <a href="{% url 'reports_trail' region=trail.region trail=trail.id %}">{{ trail.report__count }}</a>
              </td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>No trails found</p>
    {% endif %}

    <div class="form-box">
      <h4>Add Trail</h4>
      <form action="{% url 'trails' region %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="field">
            {% if field.field.required %}
              <p class="label"><span>*</span> {{ field.label_tag }}</p>
            {% else %}
              {{ field.label_tag }}
            {% endif %}

            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <input class="button" type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
