{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/trail_summary.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trail Summary</title>
  </head>
  <body>
    {% include "./header.html" %}
    <div class="subheader">
      <h2>
        <a href="{% url 'trails' trail.region.id %}">{{ trail.region.get_name_display }}</a> | 
        {{ trail.name }} - Report of Reports
      </h2>
    </div>
    {% if summary %}
    <div>
      <h4>Facilities and Access</h4>
      <p>Trailheads: {{ trailheads.obj.count }}</p>

      <ul>
      {% for trailhead in trailheads.obj %}
        <li>{{ trailhead.name }} - <span>via {{ trailhead.get_access_display }}</span> |
          <span>{{ trailhead.get_bathroom_type_display }} - <span id="bathroom_status">{{ trailhead.get_bathroom_status_display }}</span></span>
        </li>
      {% endfor %}
      </ul>

      <h4>Popularity</h4>
      <p>{{ summary.reports_trail_count }} reports of {{ summary.reports_region_count }} total posted for {{ trail.region.get_name_display }}</p>
    </div>
    {% endif %}
    {% url 'trailheads' region=trail.region.id trail=trail.id as link %}
    {% include "./button.html" with link=link %}
  </body>
</html>
