<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trailheads</title>
  </head>
  <body>
    {% include "./header.html" %}
    <h2>{{ trail.get_region_display }} | {{ trail.name }}</h2>
    {% if trailheads_list %}
      <h3>Trailheads ({{ trailheads_list.count }})</h3>
      <ul>
        {% for trailhead in trailheads_list %}
          <li>
            <div>
              <p><a href="{% url 'reports_trailhead' region=trail.region trail=trail.id trailhead=trailhead.id %}">{{ trailhead.name }}</a> | <span>{{ trailhead.coordinates }}</span></p>
              <p>{{ trailhead.modified }}</p>
            </div>
          </li>
        {% endfor%}
      </ul>
    {% else %}
      <p>No trailheads found</p>
    {% endif %}

    <h4>Add Trailhead</h4>
    <form action="{% url 'trailheads' region trail.id %}" method="post">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <input type="submit" value="Add">
    </form>
  </body>
</html>
