{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'trails/base_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/feeds.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'trails/forms.css' %}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trailheads</title>
  </head>
  <body>
    {% include "./header.html" %}
    <div class="subheader">
      <h2>
        <a href="{% url 'trails' trail.region %}">{{ trail.get_region_display }}</a> | 
        {{ trail.name }}
      </h2>
    </div>
    {% if trailheads_list %}
    <div class="trail-table">
      <table>
        <thead>
          <tr>
            <td>Trailhead</td>
            <td>Location</td>
            <td>Updated</td>
            <td>Reports</td>
          </tr>
        </thead>
        <tbody>
          {% for trailhead in trailheads_list %}
            <tr>
              <td>
                <a href="{% url 'reports_trailhead' region=region trail=trail.id trailhead=trailhead.id %}">{{ trailhead.name }}</a>
              </td>
              <td>{{ trailhead.coordinates }}</td>
              <td>{{ trailhead.modified|date:"m/d/y" }}</td>
              <td>{{ trailhead.report__count }}</td>
            </li>
          {% endfor%}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>No trailheads found</p>
    {% endif %}

    <div class="form-box">
      <h4>Add Trailhead</h4>
      <form action="{% url 'trailheads' region trail.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="field">
            {% if field.field.required %}
              <p class="label"><span>*</span> {{ field.label_tag }}</p>
            {% else %}
              {{ field.label_tag }}
            {% endif %}
            
            {{ field }}
            {% if field.help_text %}
              <p>{{ field.help_text|safe }}</p>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <input class="button" type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
